@mixin font ($fontW, $fontS, $lineH, $letterS){
    font-weight: $fontW;
    font-size: $fontS;
    line-height: $lineH;
    letter-spacing: $letterS;
}

@mixin button ($pad, $color, $bgcolor, $borderR) {
    display: inline-block;
    text-decoration: none;
    padding: $pad;
    color: $color;
    background-color: $bgcolor;
    border-radius: $borderR;
}

@mixin button-hover ($color, $bgcolor) {
    content: '';
    color: $color;
    background-color: $bgcolor;
}


@mixin input ($pad, $color, $bgcolor, $borderR) {
    text-decoration: none;
    border: none;
    padding: $pad;
    color: $color;
    background-color: $bgcolor;
    border-radius: $borderR;
}
