@import "vendor/normalize";
@import "mixin";

@import "color";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $lightdark;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;
}

.bg {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
} 

.main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
            &__list {
                display: flex;
                list-style-type: none;
            }
                &__list a {
                    @include font-nav-footer;
                }
                    &__list li+li {
                        padding-left: 40px;
                    }
    
}

.header-form {
    & input {
        @include input-email
    }
        & a {
            @include button-subsride;
        }
}

.notebook {
    max-width: 1054px;
    margin:0 auto;
    padding: 150px 0 134px 0;
    text-align: center;
    color: $white;
        & h1 {
            font-weight: bold;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
            margin: 0
        }
            & h2 {
                @include h2;
                padding: 16px 0 28px 0;
                margin: 0;
            }
                & p {
                    @include p1;
                    margin: 0 auto;
                    max-width: 430px;
                    text-align: center;
                }
                    & a {
                        @include button-free;
                        margin: 90px 0 114px 0;
                    }
}

@media (max-width:1200px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}

.feature {
    padding: 96px 0 154px 0;
    margin: 0 auto;
    text-align: center;
        & p {
            @include p;
        }
            & h3 {
                @include h3;
                margin: 16px 0 28px 0;
            }
                & span {
                    @include span;
                }
        &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 138px;
        }
            &__text {
                display:flex;
                flex-direction: column;
                margin-left: 94px;
            }
                &__text div {
                    display: flex;
                    align-items: center;
                }
                    &__text p {
                        @include p1;
                        max-width: 255px;
                        margin-top: 15px;
                        text-align: left
                    }   
                        &__text div p {
                            @include p;
                            margin-left: 10px;
                        }
}

.lightning {
    padding:100px 0 ;
    margin: 0 auto;
    text-align: center;
        & p {
            @include p;
        }
            & h3 {
                @include h3;
                margin: 16px 0 28px 0;
            }
                & span {
                    @include span;
                }
}
